- title "#{@trip_meal.meal_name.titlecase} on #{@trip_day.day_date.to_s(:shorty)}"

%p
  %strong Location:
  = @trip_meal.the_location
%p
  %strong Link:
  = link_to @trip_meal.link, @trip_meal.link
%p
  %strong Budget:
  = @trip_meal.budget

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), trip_trip_day_trip_meals_path(@trip, @trip_day), :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_trip_trip_day_trip_meal_path(@trip, @trip_day, @trip_meal), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), trip_trip_day_trip_meal_path(@trip, @trip_day, @trip_meal), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
