- title "Trip Day: #{@trip_day.day_date.to_s(:shorty)}"

%ul.breadcrumb
  - @trip.trip_days.each do |day|
    - unless day == @trip_day
      %li= link_to day.day_date.to_s(:day_only), trip_trip_day_path(@trip, day)
    - else
      %li{class: 'active'}= day.day_date.to_s(:day_only)
    %span.divider /

%p
  %strong Goal:
  = @trip_day.goal

%p
  %strong Lodging:
  = link_to @trip_day.lodging, @trip_day.lodging_link

%p
  %strong Location:
  = link_to(@trip_day.location.name, location_path(@trip_day.location)) if @trip_day.location

%p
  %strong Total Spent:
  = number_to_currency(@trip_day.total_spent/100)

%p
  %strong Notes:
  .well
    = @trip_day.notes.html_safe

%h4 Meals

%table.table.table-striped
  %tr
    %th{style: "width:30%"} Meal
    %th Location
    %th Budget
  - @trip_day.trip_meals.each do |meal|
    %tr
      %td= link_to meal.meal_name, trip_trip_day_trip_meal_path(@trip, @trip_day, meal)
      %td= link_to meal.the_location, location_path(meal.location.id) if meal.location
      %td= humanized_money_with_symbol meal.budget

%h4 Activities

%table.table.table-striped
  %thead
    %tr
      %th{style: "width:30%"} Activity
      %th Location
      %th Budget
  %tbody
    - @trip_day.activities.each do |activity|
      %tr
        %td= link_to activity.name, trip_trip_day_activity_path(@trip, @trip_day, activity)
        %td= link_to activity.the_location, location_path(activity.location.id) if activity.location
        %td= humanized_money_with_symbol activity.budget

= gmaps4rails(@trip_day.location.to_gmaps4rails) if @trip_day.location

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), trip_trip_days_path(@trip), :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_trip_trip_day_path(@trip, @trip_day), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), trip_trip_day_path(@trip, @trip_day), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
