= simple_form_for [@user, @time_slot], :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :event_type_id
  = f.input :monday
  = f.input :tuesday
  = f.input :wednesday
  = f.input :thursday
  = f.input :friday
  = f.input :saturday
  = f.input :sunday
  = f.input :user_id
  = f.input :starts_at
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), user_time_slots_path(@user), :class => 'btn'
