- model_class = TimeSlot
- title 'Time Slots'
%p
  %strong
    Total work time in week:
  = distance_of_time_in_words @user.total_duration_for_time_slots

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Type
      %th.day Mon
      %th.day Tue
      %th.day Wed
      %th.day Thu
      %th.day Fri
      %th.day Sat
      %th.day Sun
      %th Starts at
      %th Ends at
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @time_slots.each do |time_slot|
      %tr
        %td= link_to time_slot.title, user_time_slot_path(@user, time_slot)
        %td= time_slot.event_type.name
        %td{class: "#{s time_slot.monday}"}
        %td{class: "#{s time_slot.tuesday}"}
        %td{class: "#{s time_slot.wednesday}"}
        %td{class: "#{s time_slot.thursday}"}
        %td{class: "#{s time_slot.friday}"}
        %td{class: "#{s time_slot.saturday}"}
        %td{class: "#{s time_slot.sunday}"}
        %td= time_slot.starts_at.to_s(:time)
        %td= time_slot.ends_at.to_s(:time)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_time_slot_path(@user, time_slot), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), user_time_slot_path(@user, time_slot), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_user_time_slot_path(@user), :class => 'btn btn-primary'
