- title "Time Slot: #{@time_slot.title}"

%p
  %strong event_type_id
  %br
  = @time_slot.event_type_name
%p
  %strong monday
  %br
  = @time_slot.monday
%p
  %strong tuesday
  %br
  = @time_slot.tuesday
%p
  %strong wednesday
  %br
  = @time_slot.wednesday
%p
  %strong thursday
  %br
  = @time_slot.thursday
%p
  %strong friday
  %br
  = @time_slot.friday
%p
  %strong saturday
  %br
  = @time_slot.saturday
%p
  %strong sunday
  %br
  = @time_slot.sunday
%p
  %strong user_id
  %br
  = @time_slot.user_id
%p
  %strong starts_at
  %br
  = @time_slot.starts_at

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), time_slots_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_time_slot_path(@time_slot), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), time_slot_path(@time_slot), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
