= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    = f.input :title
    = f.input :starts_at, as: :string, input_html: {data: {'datepicker-format' => "dd/mm/yyyy hh:ii"}}
    = f.input :ends_at, as: :string,  input_html: {data: {'datepicker-format' => "dd/mm/yyyy hh:ii"}}
    .control-group.string#duration_area{style: "display: none;"}
      %label.string.control-label{for:"duration"} Duration
      .controls
        %input#duration{disabled: true}
    = f.input :all_day
    = f.input :description
    = f.input :event_type_id, collection: Event::TYPES.map{|k,v| [v,k]}, include_blank: false
  .form-actions
    = f.button :submit, :class => 'btn-primary btn'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn'
