- title "Week of #{@week.start_date}"

%p
  %strong Total Spent
  %br
  = @week.total_spent_cents

= render 'expense_tracker/daily_expenses/display_expenses', daily_expenses: @week.expenses

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), expense_tracker_weeks_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_expense_tracker_week_path(@week), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), expense_tracker_week_path(@week), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
