- model_class = LostItem

- title "#{@user.name}'s Lost Items"

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:date_lost)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:priority)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @lost_items.each do |lost_item|
      %tr
        %td= link_to lost_item.name, user_lost_item_path(@user, lost_item)
        %td= lost_item.user_id
        %td= lost_item.date_lost
        %td= lost_item.description
        %td= lost_item.priority
        %td=l lost_item.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_lost_item_path(@user, lost_item), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), user_lost_item_path(@user, lost_item), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_user_lost_item_path(@user), :class => 'btn btn-primary'
