- model_class = SonshipClass
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:start_date) + ':'
  %br
  = @sonship_class.start_date
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @sonship_class.user.name
%p
  %strong Lessons
  %ul
    - @sonship_class.sonship_lessons.each do |lesson|
      %li= link_to lesson.title, sonship_class_sonship_lesson_path(@sonship_class)

.form-actions
  = link_to "Add new lesson", new_sonship_class_sonship_lesson_path(@sonship_class), class: 'btn'
  = link_to t('.back', :default => t("helpers.links.back")), user_sonship_classes_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_sonship_class_path(@sonship_class), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), user_sonship_class_path(@sonship_class), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
