= simple_form_for [@trip, @trip_day, @activity] do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :location
    = f.input :description, :input_html => { :toolbar => 'Easy' }
    = f.input :trip_day_id, as: :hidden

  .form-actions
    = f.button :submit
