%h1 Listing activities

%table
  %tr
    %th Name
    %th Location
    %th Description
    %th Trip day
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.name
      %td= activity.location_id
      %td= activity.description
      %td= activity.trip_day_id
      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Activity', new_activity_path
