- title "#{@activity.name} on #{@trip_day.day_date.to_s(:shorty)} in #{@activity.the_location}"

%p
  %b Description:

%div#description
= @activity.description.html_safe

- if user_signed_in?
  .form_actions
    = link_to 'Edit', edit_trip_trip_day_activity_path(@trip, @trip_day, @activity), class: 'btn'
    = link_to 'Back', trip_trip_day_activities_path(@trip, @trip_day), class: 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), trip_trip_day_activity_path(@trip, @trip_day, @activity), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

