%p#notice= notice

%p
  %b Name:
  = @activity.name
%p
  %b Location:
  = @activity.location_id
%p
  %b Description:
  = @activity.description
%p
  %b Trip day:
  = @activity.trip_day_id

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
