- model_class = Location

- title 'Location'

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @location.name
%p
  %strong= model_class.human_attribute_name(:latitude) + ':'
  %br
  = @location.latitude
%p
  %strong= model_class.human_attribute_name(:longitude) + ':'
  %br
  = @location.longitude
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @location.description

= gmaps4rails(@location.to_gmaps4rails) if @location.address

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), locations_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_location_path(@location), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), location_path(@location), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
